<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/style.css")
</head>
<body>

    <div id="wrap">

        <div id="header">
            <h1><a href="/Home/Index">Теория автоматов и формальных языков</a></h1>
        </div>

        <div id="menu">
            <ul>
                <li><a href="/Home/Index">Домашняя</a></li>
                <li><a href="/Test/Index">Тесты</a></li>
                <li><a href="/Material/Index">Дополнительный материал</a></li>
                <li><a href="/About/Index">О сайте</a></li>
            </ul>
        </div>

        @RenderBody()

        <div class="left">
            @if (!HttpContext.Current.User.Identity.IsAuthenticated)
            {
                using (Html.BeginForm("Login", "Home", FormMethod.Post))
                {
                    <h2>Вход в систему</h2>
                    @Html.Label("Имя пользователя")
                    @Html.TextBox("Login")
                    @Html.Label("Пароль")
                    @Html.Password("Password")
                    if (Session["LoginMessage"] != null)
                    {
                        <label>@Html.Label((string)Session["LoginMessage"])</label>
                        <br />
                        Session["LoginMessage"] = null;
                    }
                    <p>
                        <br />
                        <input type="submit" value="Вход" />
                        <a href="/Registration/StepOne">Регистрация</a>
                    </p>
                }
            }
            else
            {
                <div>
                    Добро пожаловать,
                    @{Request.Cookies["user_name"].Expires = DateTime.Now.AddDays(2);}
                    @System.Text.Encoding.Default.GetString(Convert.FromBase64String(Request.Cookies["user_name"].Value))!
                </div>
                if (Roles.GetRolesForUser(HttpContext.Current.User.Identity.Name)[0] == "User")
                {
                    <h2>Меню</h2>
                    <ul>
                        <li><a href="/Home/TestResult">Тесты</a></li>
                        <li><a href="/Home/Settings">Настройки</a></li>
                        <li><a href="/Home/LogOff">Выход</a></li>
                    </ul>
                }
                else if (Roles.GetRolesForUser(HttpContext.Current.User.Identity.Name)[0] == "Admin")
                {
                    <h2>Меню</h2>
                    <ul>
                        <li><a href="/Home/DbEdit">Управление базой данных</a></li>
                        <li><a href="/Home/AddNews">Добавить новость</a></li>
                        <li><a href="/Home/AddMaterial">Добавить материал</a></li>
                        <li><a href="/Check/ListAnswers">Проверка тестов</a></li>
                        <li><a href="/Home/CreateTest">Создание теста</a></li>
                        <li><a href="/Home/AddTest">Добавить тест</a></li>
                        <li><a href="/Home/Settings">Настройки</a></li>
                        <li><a href="/Home/LogOff">Выход</a></li>
                    </ul>
                }
                //TempData["user"] = TempData["user"];
            }

        </div>
        <div style="clear: both;"> </div>
    </div>

    <div id="footer">
        Designed by <a href="http://www.free-css-templates.com/">Free CSS Templates</a>, Thanks to <a href="http://www.openwebdesign.org/">website design</a>
    </div>


</body>
</html>
