@model List<MvcAutomation.Models.ListAnswersViewModel>

@{
    ViewBag.Title = "Список ответов";
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/paging")

<script>
    $(document).ready(function () {
        $('#page_container').pajinate({
            abort_on_small_lists: true
        });
    });
</script>

<div id="content">
    <div class="right">
        <div id="page_container">
            <div class="page_navigation"></div>
            <div class="content">
                @foreach (var answer in Model)
                {
                    <div>
                        <br />
                        @using (Html.BeginForm("CheckAnswer", "Check", FormMethod.Get))
                        {
                            <fieldset>
                                <legend>@answer.TestName</legend>
                                <input type="hidden" name="test_name" value="@answer.TestName" />
                                <input type="hidden" name="content_id" value="@answer.AttachmentContentId" />
                                @Html.Label(answer.FirstName + " " + answer.LastName)
                                <br />
                                @Html.Label("Факультет: " + answer.Faculty)
                                <br />
                                @Html.Label("Курс: " + answer.Course)
                                <br />
                                @Html.Label("Специальность: " + answer.Speciality)
                                <br />
                                @Html.Label("Группа: " + answer.Group)
                                <br />
                                @Html.Label("Оценка: " + answer.Mark)
                                <br />
                                <input type="submit" value="Просмотреть" />
                            </fieldset>

                        }
                    </div>
                }
            </div>
            <br />
            <div class="page_navigation"></div>
        </div>
    </div>
</div>