@model List<MvcAutomation.Models.ListAnswersViewModel>

@{
    ViewBag.Title = "Список ответов";
}

<div id="content">
    <div class="right">
        @foreach (var answer in Model)
        {
            using (Html.BeginForm("CheckAnswer", "Check", FormMethod.Get))
            {
                <div>
                    <input type="hidden" name="test_id" value="@answer.TestId" />
                    <input type="hidden" name="content_id" value="@answer.AttachmentContentId" />
                    @Html.Label(answer.FirstName + " " + answer.LastName)
                    <br />
                    @Html.Label("Факультет: " + answer.Faculty)
                    <br />
                    @Html.Label("Курс: " + answer.Course)
                    <br />
                    @Html.Label("Специальность: " + answer.Speciality)
                    <br />
                    @Html.Label("Группа: " + answer.Group)
                    <br />
                    @Html.Label("Оценка: " + answer.Mark)
                    <br />
                    <input type="submit" value="Просмотреть" />
                </div>
            <br />
            }
        }
    </div>
</div>