@model IEnumerable<MvcAutomation.Models.BlockViewModel>

@{
    ViewBag.Title = "Материал для скачивания";
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/paging")

<script>
    $(document).ready(function () {
        $('#page_container').pajinate({
            abort_on_small_lists: true
        });
    });
</script>


<div id="content">
    <div class="right">
        <div id="page_container">
            <div class="page_navigation"></div>
            <div class="content">
                @foreach (MvcAutomation.Models.BlockViewModel block in Model)
                {
                    <hr />
                    <div>
                        <br />
                        <h2><a href="@Url.Content("~\\Material\\" + block.Title)" download="">@block.Title</a></h2>
                        <div class="articles">
                            @block.Text
                        </div>
                        <br />
                    </div>
                }
            </div>
            <hr />
            <br />
            <div class="page_navigation"></div>
        </div>
    </div>
</div>
